<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my_spring_boot.rbac.dao.PermissionDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.my_spring_boot.rbac.pojo.Permission">
        <id column="id" property="id" />
        <result column="permission_value" property="permissionValue" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, permission_name, permission_value, create_time, creator, update_time, updater, is_delete
    </sql>

    <select id="listByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rbac_permission
        WHERE is_delete = 0
        <if test="permission!=null">
            <!-- permission_value -->
            <if test="permission.permissionValue!=null and permission.permissionValue!=''">
                AND role_name = #{permission.permissionValue}
            </if>
        </if>
    </select>

</mapper>
