<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my_spring_boot.user.dao.UserInfoDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.my_spring_boot.user.pojo.UserInfo">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="gender" property="gender" />
        <result column="balance" property="balance" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, password, gender, balance, creater, create_time, updater, update_time, is_delete
    </sql>

    <select id="listByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        user_info
        WHERE is_delete = "未删除"
        <if test="userInfo!=null">
            <!-- user_name -->
            <if test="userInfo.userName!=null and userInfo.userName!=''">
                AND user_name &gt;= #{userInfo.userName}
                AND user_name &lt;= #{userInfo.userName}
            </if>
            <!-- password -->
            <if test="userInfo.password!=null and userInfo.password!=''">
                AND password = #{userInfo.password}
            </if>
        </if>
    </select>

</mapper>
