<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my_springboot.user.dao.UserInfoDAO">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.my_springboot.user.pojo.UserInfoDO">
    <result column="id" property="id"/>
    <result column="nick_name" property="nickName"/>
    <result column="gender" property="gender"/>
    <result column="skey" property="skey"/>
    <result column="openid" property="openid"/>
    <result column="session_key" property="sessionKey"/>
    <result column="phone" property="phone"/>
    <result column="password" property="password"/>
    <result column="city" property="city"/>
    <result column="province" property="province"/>
    <result column="country" property="country"/>
    <result column="avatar_url" property="avatarUrl"/>
    <result column="first_visit_time" property="firstVisitTime"/>
    <result column="last_visit_time" property="lastVisitTime"/>
    <result column="ip_address" property="ipAddress"/>
    <result column="is_delete" property="isDelete"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        id, nick_name, gender, skey, openid, session_key, phone, password, city, province, country, avatar_url, first_visit_time, last_visit_time, ip_address, is_delete
    </sql>

  <!-- 查询用户列表 -->
  <select id="listUsers" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM `sys_user_info`
  </select>

</mapper>
